<div class="container">
    <div class="row">
        <a></a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="">Adicionar Nova Loja</a>
        </div>    
    </div>
</div>
